<div>
    <h4 class="text-center">My cities</h4>
    <ul *ngIf="myCities" class="myCitiesList">
        <li *ngFor="let city of myCities" (click)="setCurrentCity( city )">
            <span class="city-name">{{city.name}}</span>
            <button type="button" class="close" aria-label="Close" (click)="removeMyCity( city.id, $event )"
                    title="Remove City" >
                <span aria-hidden="true">&times;</span>
            </button>
        </li>
    </ul>

    <p *ngIf="!myCities || !myCities.length"> Search city and add to list</p>
</div>