li {
    cursor: pointer;
  &:hover{
    background: #ccc;
  }

}

.myCitiesList{
  list-style-type: none;
  padding-left: 0px;

  li {
    border-bottom: 1px solid #ccc;
    padding: 5px;

    &:last-child{
      border-bottom: 0;
    }

    &.selected{
      background: #999;
    }


    .city-name{
      width: 100%;
      margin-right: -30px;
      display: inline-block;
    }

    .close{
      cursor: pointer;
    }

    button{
      line-height: 18px;
    }
  }
}

h4{
  margin-top: 35px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 13px;
}

.loading-gif{
  height: 25px;
  position: absolute;
  right: 40px;
}