li {
    cursor: pointer;
  &:hover{
    background: #ccc;
  }

}

.myCitiesList{
  list-style-type: none;
  padding-left: 0px;

  li {
    border-bottom: 1px solid #ccc;
    padding: 5px;

    &:last-child{
      border-bottom: 0;
    }

    .city-name{
      width: 100%;
      margin-right: -30px;
      display: inline-block;
    }

    .close{
      cursor: pointer;
    }
  }
}