<div class="search-city row ">
    <div class="form-inline">

        <div class="control-group">

            <label for="city_search" class="control-label search-label">

                <span class="label">Search city:</span>

                <input id="city_search" type="text" class="form-control" [(ngModel)]="searchStr"
                       placeholder="Enter city name" [ngbTypeahead]="search" [resultFormatter]="formatter"
                       [inputFormatter]="formatterInput" (selectItem)="selectCity($event)">

                <span class="add-button-wrap">
                    <button [@searchCitySelectedAnimation]="searchSelectedCity?'show':'hide'"
                            class="add-button btn btn-primary" (click)="addToMyCities( )">Add</button>
                </span>
            </label>

        </div>
    </div>
</div>

